@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

.left {
    display: flex;
    flex-direction: column; 
}  
.project {
    display: flex;
        flex-wrap: wrap;
    flex-direction: row; 
    align-items: center; 
    text-transform: none;
    padding-bottom: 90px;  
    margin-top: 40px;
} 
.project a:hover {
    text-decoration: none;
}
.ig img{
    border: 1px solid #e6e6e6;
}
.project-heading {
    padding-left: 10px;
    padding-bottom: 40px;
}
.desc {
    width: auto;
    text-align: left;
    font-size: 16px; 
    padding-right: 5px;
}
.desc p {
    font-size: 20px;
}
@media(max-width: 768px){
   .desc {    
    text-align: left;  
    font-size: 16px; 
    padding-right: 5px;     
}
.desc p {
    font-size: 16px;
}
.title h3 {
    padding-right: 2px; 
    font-size: 10px;      
}
.title h4 {
    font-size: 10px;   
}
.resume-project {
  padding-left: auto;
  padding-right: auto;
}
}

.title {
    display: flex;
    align-items: baseline;
}
.title .padding {
    padding-right: 8px;
}
 .title h3 {
    padding-right: 2px;
    font-size: 25px; 
}
.title h4 {
  font-size: 18px;
}
.size {
    font-size: 20px;
}
#awards a:hover {
    text-decoration: none;
}
#interests p {
    font-size: 18px;
}
.resume-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}